<h1>Chi tiết Email</h1>
<strong>Email gửi đến:</strong> <%= email.email %><br />
<strong>Tiêu đề:</strong> <%= email.subject %><br />
<strong>Trạng thái:</strong> <%= email.status %><br />
<strong>Thời gian gửi:</strong> <%= email.sentAt %><br />
<strong>Nội dung:</strong><br />
<%= email.content %>
